<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cxem_car"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityAccelerometer"
            android:label="@string/title_activity_accelerometer"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ActivityWheel"
            android:label="@string/title_activity_wheel"
            android:screenOrientation="landscape" >
        </activity>        
        <activity
            android:name=".SetPreferenceActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity 
            android:name="ActivityButtons"
            android:label="@string/title_activity_buttons" >
        </activity>
        <activity 
            android:name="ActivityMCU"
            android:label="@string/title_activity_mcu" >
        </activity>
        <activity 
            android:name="ActivityTouch"
            android:label="@string/title_activity_touch" >
        </activity>
        <activity 
            android:name="ActivityAbout"
            android:label="@string/title_activity_about" >
        </activity>     
    </application>

</manifest>